<!-- begin navbar -->
<div class="navbar">
  <p class="brand">TinyPilot</p>
  <div class="nav-items">
    <div class="nav-item keyboard-status">
      <p>Connection</p>
      <div class="tooltip tooltip-bottom">
        <div id="status-connected" class="status-indicator">
          <span class="status-dot"></span>
        </div>
        <div class="tooltip-text">
          <p>
            You are connected to TinyPilot.
          </p>
        </div>
      </div>

      <div class="tooltip tooltip-bottom">
        <div id="status-disconnected" class="status-indicator">
          <span class="status-dot"></span>
        </div>
        <div class="tooltip-text">
          <p>
            Could not connect to TinyPilot. Try reloading the page.
          </p>
        </div>
      </div>
    </div>
    <div class="nav-item nav-icon source-link">
      <a href="https://github.com/mtlynch/tinypilot">
        <img src="/img/GitHub-Mark-Light-120px-plus.png" />
      </a>
    </div>
    <div class="nav-item nav-icon power">
      <a id="power-btn" href="#">
        <img src="/img/power-icon.png" />
      </a>
    </div>
  </div>
</div>
<!-- end navbar -->
