<!-- begin shutdown confirmation panel -->
<div id="shutdown-confirmation-panel">
  <h3>Shut Down TinyPilot Device?</h3>
  <p>
    Note that this will shut down <strong>TinyPilot</strong>, not the machine to
    which it is attached.
  </p>
  <button id="confirm-shutdown" class="btn-danger btn" type="button">
    Shut Down
  </button>
  <button id="confirm-restart" class="btn-danger btn" type="button">
    Restart
  </button>
  <button id="cancel-shutdown" class="btn" type="button">Cancel</button>
</div>
<!-- end shutdown confirmation panel -->
